body {
    background-color: lightgrey;
}
h2 {
    text-align: center;
    padding: 150px 50px 50px 330px;
}
.стихскартинкой {
    display: flex;
    flex-direction: table-row;
}
.картинка{
    padding: 60px 90px 50px 300px;
}
h1{
    text-decoration: underline;
    font-weight: 2300;
}
.фотка{
    text-align: center;
}